
<html>
    <head>
        <title>Reunion Details</title>
    </head>
    <body>
        <%= @reunion_location %></br>
        <%= @activity_name %></br></br>
        <%= @total_cost %></br></br>
        <%= @participant_1_name %></br>
        <%= @participant_1_paid %></br></br>
        <%= @participant_2_name %></br>
        <%= @participant_2_paid %></br></br>
        <%= @participant_3_name %></br>
        <%= @participant_3_paid %></br></br>
    </body>
</html>
